{% extends "layout.html" %}

{% block title %}
    Book title</title>
{% endblock %}

{% block main %}
    <div class="container">
        <h1>{{ title }}</h1>
        <div class="cover">Book cover image</div>
        <h3>Author: {{ author }}, Year: {{ year }}, ISBN: {{ isbn }} </h3>
        <p>Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
            Lorem ipsum dolor sit amet 
        </p>

            <h2>Reviews</h2>
            <div>Rating: * * * * * </div>
            <p>Lorem ipsum dolor sit amet
                Lorem ipsum dolor sit amet
                Lorem ipsum dolor sit amet
                Lorem ipsum dolor sit amet
            </p>
    </div>
{% endblock %}