{% extends "layout.html" %}

{% block title %}
Book review
{% endblock %}
<nav>
    LINK 1 | LINK 2 | LINK 3
</nav>


{% block main %}
<!--Search-->
<form action="{{ url_for('index') }}" method="post">
    <div class="form-group">        
        <input list="book" id="allbooks" placeholder="Title, Author, ISBN" name="book_list" />
        
        <datalist id="book">
            {% for book in allbooks %}

            <option id="{{ book.id }}" value="{{ book.title }}" name="book_name">

            {% endfor %}
        </datalist>
        
        <button type="submit">Search</button>
    </div>
</form>   

<div class="container">
    <div class="slider">
        <h1>Recent books</h1>
        <div class="slider-image">Book cover</div>
    </div>
</div>

{% endblock %}
    


</body>
</html>