{% extends "layout.html" %}

{% block title %}
Book review
{% endblock %}

{% block main %}
<!--Hero module-->
<div class="hero">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Is it any good?</h1>
      <p class="lead">Find book reviews by title, author or ISBN number</p>
    </div>
  </div>
</div>


<!--Bestsellers-->
<div class="card">
  <h5 class="card-header text-center">Best sellers</h5>
  <div class="card-body" id="bestseller-imgs">
    <div class="card-row">
      <div class="card w-75" id="book-card">
        <img class="card-img-top" id="coverimg0" src="/static/book.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><span id="title0">1</span></h5>
          <p class="card-text"><span id="author0">Author</span></p>
        </div>
      </div>

      <div class="card w-75" id="book-card">
        <img class="card-img-top" id="coverimg1" src="/static/book.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><span id="title1">1</span></h5>
          <p class="card-text"><span id="author1">Author</span></p>
        </div>
      </div>

      <div class="card w-75" id="book-card">
        <img class="card-img-top" id="coverimg2" src="/static/book.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><span id="title2">1</span></h5>
          <p class="card-text"><span id="author2">Author</span></p>
        </div>
      </div>
      
      <div class="card w-75" id="book-card">
        <img class="card-img-top" id="coverimg3" src="/static/book.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><span id="title3">1</span></h5>
          <p class="card-text"><span id="author3">Author</span></p>
        </div>
      </div>

      
      <div class="card w-75" id="book-card">
        <img class="card-img-top" id="coverimg4" src="/static/book.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><span id="title4">1</span></h5>
          <p class="card-text"><span id="author4">Author</span></p>
        </div>
      </div>
            
      <div class="card w-75" id="book-card">
        <img class="card-img-top" id="coverimg5" src="/static/book.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><span id="title5">1</span></h5>
          <p class="card-text"><span id="author5">Author</span></p>
        </div>
      </div>
    </div>
</div>


<!--Search-->
<div class="content-search">  
  <div class="content-2">
    <div class="search-box">
      <form action="{{ url_for('search') }}" class="search-bar" method="post" class="form-inline">
        <div class="form-group">
          <input class="form-control mr-sm-2" type="search" list="book" id="allbooks" placeholder="Title / Author / ISBN" name="book_list" aria-label="Search" />
          <datalist id="book">
          
          {% for book in allbooks %}
            <option id="{{ book.id }}" value="{{ book.title }}" name="book_name">
          {% endfor %}
          
          </datalist>
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const bestseller_isbns = [];

API_KEY = 'GmNm9aeq6FeIaUjHXriO80RCzGrWEHuS';

// Get bestsellers list from NYT API
fetch('https://api.nytimes.com/svc/books/v3/lists/best-sellers/history.json?api-key=' + API_KEY)
.then(response => response.json())
.then(data => {

  const bestsellers = data['results'];
  
  // Get title of top 10 best selling books
  for (i = 0; i < 10; i++) {
    
    // If no ISBN exists
    if (!bestsellers[i]['isbns'][0]) {

      console.log("NO ISBN FOUND");
    }

    else {
      const isbn13 = bestsellers[i]['isbns'][0]['isbn13'];
      bestseller_isbns.push(parseInt(isbn13));      
    }      
  }

  let img_nr = 0;

  // Book covers, title and description front page
  bestseller_isbns.forEach(isbn => {
    
    // Get JSON response from Google Books API
    fetch('https://www.googleapis.com/books/v1/volumes?q=isbn:' + isbn)
    .then(response => response.json())
    .then(data => {
      
      console.log(data['items'][0]['volumeInfo']['title'])
      
      // Thumbnail image and authors
      const image = data['items'][0]['volumeInfo']['imageLinks']['thumbnail'];
      const authors = data['items'][0]['volumeInfo']['authors'];
      const book_title = data['items'][0]['volumeInfo']['title']
      
      // Get ID of img, title and author
      const carousel = document.querySelector("#coverimg" + img_nr);
      const title = document.querySelector("#title" + img_nr);
      const author = document.querySelector("#author" + img_nr);
      
      // Set source to image link
      carousel.src = image;

      // Insert title
      title.innerHTML = book_title;

      // Update authors      
      if (authors.length == 1) {
        authors.forEach(element => {
          author.innerHTML = element;
        });
      }

      // If more than 1 author
      else {
        let fulltext = "";
        const last = authors[authors.length -1];
        
        authors.forEach(element => {
          
          // If last author name, don't add comma
          if (element === last) {
            fulltext += element;
          }

          // Author name + comma  
          else {
            fulltext += element + (', ');
          }
        });

        // Insert authors
        author.innerHTML = fulltext;

      }  
      img_nr++;
      });
  });
});
</script>

{% endblock %}
</body>
</html>